@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded-md  bg-zinc-300 text-zinc-900 m-2 px-4 py-1 text-xs md:text-base font-semibold border-2 border-zinc-900 hover:bg-opacity-70 flex items-center justify-center min-h-[3.5rem];
  }
  .visited{
    @apply bg-blue-300 
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
